<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>Yarn 作业挑选程序</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="./index.css">
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

	<h1 id="topic">Yarn 作业挑选程序</h1> 
	<div id="head_line">
		用户：<input v-model="msg.User">
		应用类型：<select v-model="msg.AppType">
					<option v-for="t in typeList">{{ t.text }}</option>
				</select>
		运行状态：
			<select v-model="msg.Status">
				<option v-for="s in sList">{{ s.text }}</option>
			</select>
		时间：<input v-model="msg.DataTime" type="date">
		内存使用(MB)：<input v-model="msg.Memory">
		YarnRM 环境：
			<select v-model="msg.Env">
				<option v-for="env in envList">{{ env.text }}</option>
			</select>
		<button type="button" id="btn_css" @click="jobSelect">挑选</button>
		<button type="button" id="btn_css" @click="cleanInput">清除</button>
		<table id="tb">
			<tr id="tr">
				<th id="th">用户名</th>
				<th id="th">应用类型</th>
				<th id="th">运行状态</th>
				<th id="th">时间</th>
				<th id="th">内存使用(MB)</th>
				<th id="th">Yarn 环境</th>
			<tr v-for="head,index in userInputMsg">
				<td id="td">{{ head.User }}</td>
				<td id="td">{{ head.AppType }}</td>
				<td id="td">{{ head.Status }}</td>
				<td id="td">{{ head.DataTime }}</td>
				<td id="td">{{ head.Memory }}</td>
				<td id="td">{{ head.Env }}</td>
			</tr>	
		</table>
	</div>

	<script type="text/javascript" src="./main.js"></script>
</body>
</html>
